<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md mb-4">
      <div class="row">
        <div class="col-12 " style="padding: 0">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 1%;"></th>
                <th scope="col" style="width: 0%;">Pontos</th>
                <th scope="col " style="width: 50%; text-align: center;">Nome</th>
                <th scope="col">Gatos Noite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jogador of listaJogadores">
                <td scope="row"><input class="form-check-input" type="checkbox" value="" [(ngModel)]="jogador.selecionado"
                  (ngModelChange)="onClick()">
                </td>
                <td>{{jogador.totalGatos}}</td>
                <td class="text-center">{{jogador.nome}}</td>
                <td [tooltip]="montarTooltip(jogador)">{{jogador.gatosRodada.length}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-12 text-center mb-1" style="padding: 0;">
          <button type="button" class="btn btn-primary me-1" (click)="iniciarPartida()">
            <!-- [disabled]="partidaIniciada"-->
            Iniciar partida
          </button>
          <button type="button" class="btn btn-primary" (click)="finalizarpartida(listaJogadores)">
            Finalizar partida
          </button>
        </div>

        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" routerLink="/">
            Cancelar
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md text-center">
      <app-partida [listaJogadores]="listPartida"></app-partida>
    </div>

  </div>


</div>


















