<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col" style="width: 30%;">Pontos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jogador of listaJogadores">
      <td>{{jogador.nome}}</td>
      <td class="p-1">
        <div class="input-group input-group-sm ">
          <input type="number" class="form-control" [(ngModel)]="jogador.totalPontos" (ngModelChange)="onChangePontos(jogador.totalPontos)">
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="contarGatos()" [disabled]="desabilitarBotaoEncerrarPartida">
      Finalizar rodada
    </button>
  </div>
</div>
